.container{
    display: flex;
    height: 80px;
    margin-top: 10px;
    border: 1px solid #000;
    background: #FFF;
}

.logo{
    width: 112px;
    height: 60px;
    border-radius: 32px;
    background: #47FFD3;
}